@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: right;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

img.logo {
    width: 100px;
    margin-top: 30px;
    cursor: pointer;
}

.header_text {
    max-width: 380px;
    margin-top: 100px;
}

.header_text h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

.header_text p {
    font-weight: 400;
    color: #999;
    letter-spacing: 0px;
    text-align: justify;
    word-spacing: -2px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

span.square {
    width: 12px;
    height: 12px;
    background: #D67086;
    display: block;
}

button.common_btn {
    padding: 10px 20px;
    background: transparent;
    outline: none;
    border: 3px solid #D67086;
    margin-bottom: 50px;
    cursor: pointer;
}

.line-1 {
    width: 12px;
    height: 12px;
    background: #D67086;
    display: block;
    margin-bottom: 5px;
}

.line-2 {
    width: 75px;
    height: 2px;
    background: #D67086;
    display: block;
    margin-bottom: 5px;
}

.line-3 {
    width: 50px;
    height: 3px;
    background: #D67086;
    display: block;
}

nav#sideNav {
    width: 250px;
    height: 100vh;
    background: #D67086;
    top: 0;
    right: -255px;
    position: fixed;
    transition: 0.5s;
    z-index: 10;
    border-bottom-left-radius: 250px;
}

nav#sideNav ul li {
    margin: 30px 20px;
    list-style: none;
}

nav#sideNav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#menu {
    width: 30px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(246, 124, 146, 0.75);
    -webkit-box-shadow: 0px 3px 16px 5px rgba(246, 124, 146, 0.75);
    -moz-box-shadow: 0px 3px 16px 5px rgba(246, 124, 146, 0.75);
}

/* About Start*/

section#offer_wrapper{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}

section#About_wrapper {
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.About_left_col {
    flex-basis: 50%;
    /* margin-right: -9px; */
}

.About_right_col {
    flex-basis: 50%;
    text-align: right;
    display: flex;
    justify-content: space-around;
}

.About_left_col img {
    width: 100%;
}

.about_text {
    max-width: 500px;
}

.about_text h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.about_text p {
    text-align: -webkit-match-parent;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    margin-bottom: 10px;
}

.about_text h2 {
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
}

.about_style {
    float: right;
}

/* About End*/
/* Feature Button Start */
.feature_wrapper {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px 0;


}

.feature_col {
    flex-basis: 25%;
    width: 80%;
    text-align: center;
}

.feature_col img {
    width: 30%;
}

.feature_col h4 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}

.feature_col p {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #333;
}

.feature_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_btn .line{
    margin-right: 25px;
    position: relative;
    bottom: 18px;
    display: inline-block;
    text-align: right;
    transform:rotatey(180deg)
}




/* Feature Button End*/
/* course Start*/

.courses_wrapper{
    display: flex;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
    
}

.course_left_col{
    flex-basis: 50%;
    
}

.course_text{
    max-width: 500px;
    margin-left: 100px;
}

.course_right_col{
    flex-basis: 50%;
}

.course_right_col img{
    width: 100%
}

.course_text h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.course_text span {
    float: left;
}

.course_text p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #555;
    margin-bottom: 30px;
}




/* course End*/
/* contact form start*/

.contact_wrapper{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.contact_text_area{
    margin-left: 100px;
}
.con_left_col, .con_right_col{
    flex-basis: 50%;
}


.con_right_col img{
    width: 100%;
;
}

form{
    max-width: 350px;
    margin:30px 0 0;
    
}

form input {
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
    margin: 10px 0;
    outline: none;
    box-shadow: none;
    border: 2px solid #fb53c4;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-box button {
    flex-basis: 48%;
    padding: 18px 0;
}

footer{
    padding: 30px 0;
}

hr{
    border-top: 1px solid #D67086;
    margin-bottom: 30px;
    width: 100%;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 100px 0;
}

.footer_left_col{
    flex-basis: 50%;
}

.footer_right_col{
    flex-basis: 40%;
    
    
}

.footer_link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link_title{
    flex-basis: 25%;
}

.link_title h4{
    color: #D67086;
    padding: 0px 0 10px;
    
}

.link_title small{
    font-size: 13px;
    color: #666;
}

.copyright{
    width: 50%;
    position: absolute;
    left: 0px;
    bottom: -28px;
}

.footer_r_wrapper{
    position: relative
   
}

.footer_logo{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -44px;
    text-align: left;
}

.footer_logo button{
    font-size: 10px;
    margin: 20px;
    padding: 12px 38px;
} 

/* contact form end*/


.social_icons{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.social_icons img{
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
    display: block;
    padding: 0 10px;
}







